body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: rgba(220, 220, 220, 0.441);
}

header {
    color: white;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

a:hover {
    color: aquamarine;
}

nav {
    background-color: #000000a9;
    border-radius: 10px;
    height: 45px;
    width: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div {
    margin-top: 5vh;
    margin-left: 47vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

main {
    padding: 20px;
}

.banner {
    padding: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

.imagem {
    border-radius: 20px;
    width: 187vh;
}

.imagens {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente se necessário */
    margin-top: 20px; /* Espaçamento superior para a seção */
}

.colunas {
    margin-top: 1vh;
    display: flex;
    justify-content: space-between; /* Ajusta o espaço entre as colunas */
}


.coluna img {
    max-width: 100%;
    height: auto; /* Mantém a proporção da imagem */
}

.colunaUm {
    border-radius: 20px;
    background-color: rgba(255, 85, 0, 0.098);
    border-width: 2px;
    width: 55vh;
    height: 80vh;
}

.colunaUm img {
    margin-top: 1vh;
    margin-left: 12px;
    border-radius: 10px;
}

.colunaDois {
    border-radius: 20px;
    margin-left: 20px;
    background-color: rgba(255, 85, 0, 0.098);
    border-width: 2px;
    width: 55vh;
    height: 80vh; 
}

.colunaDois img {
    margin-top: 1vh;
    margin-left: 11px;
    border-radius: 10px;
}

.colunaTres {
    border-radius: 20px;
    margin-left: 20px;
    background-color: rgba(255, 85, 0, 0.098);
    border-width: 2px;
    width: 55vh;
    height: 80vh;
}

.colunaTres img {
    margin-top: 1vh;
    margin-left: 15px;
    border-radius: 10px;
}

footer {
    margin-top: 10vh;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
